body {
  margin: 20px;
  font-family: "Lato", sans-serif;
  background-color: #eeeeee;
}

.grid {
  display: grid;
  grid-template-columns: minmax(200px, 300px) minmax(280px, 1600px) auto;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  grid-template-areas:
    "logo puste puste"
    "menu gallery puste";
}

@media (max-width: 633px) {
  .empty .style-three {
    padding-top: 64px;
  }
  .gallery {
    padding-top: 40px;
  }
}

@media (max-width: 560px) {
  .grid {
    display: grid;
    grid-template-columns: minmax(120px, 550px);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "logo"
      "menu"
      "gallery";
  }
  header .logo {
    font-size: 100%;
  }
  .empty {
    display: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
