.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 380px));
  gap: 15px;
  padding: 15px 15px;
}

.gallery img {
  padding: 0px 100px;
}

h3,
h4,
p {
  text-align: center;
}

p {
  color: #aaaaaa;
  font-size: 15px;
}

.lighter {
  font-weight: lighter;
}

a {
  color: #ff0000;
  text-decoration: none;
  border-bottom: dashed 1px red;
  font-weight: bold;
}

.bolder {
  font-size: 55px;
  font-weight: bolder;
  color: #d8d7d7;
  position: relative;
  display: inline;
  display: flex;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

hr.new {
  border: 1px solid #ff0000;
  background-color: #ff0000;
  width: 30px;
}
